body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.forecast-item {
    flex: 1 1 calc(20% - 10px);
    padding: 10px;
    background-color: #e0e0e0;
    text-align: center;
}
.pin{
    
}